* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcbac6;
    font-family: "Fira Sans", sans-serif;
}

header {
    padding: 0px;
}

header nav {
    background-color: #F894A6;
}

header nav li {
    text-align: left;
    font-weight: bold;
    border-top: 1px solid #F37087;
}

header nav li:hover {
    background-color: #fcbac6;
}

header nav a {
    color: #4b2b33;
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Texto */
.tarjeta h4 {
    text-align: center;
    font-size: 1rem;
}

.tarjeta h5 {
    color: #949494;
    font-size: 12px;
    font-weight: bold;
}

.footer p, .tarjeta p {
    font-weight: bold;
    font-size: 1rem;
}

/* Main */
main {
    background-color: #fcbac6;
    padding: 10px;
    align-items: center;
}

#contenedorProd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height: auto;
    background-color: #ef6f8b;
    border-radius: 1rem;
    margin: 4% auto 7% auto;
    padding: 1.5rem;
    box-shadow: 0 0 12px #3d3d3d;
}

.navbar-toggler {
    height: 40px;
}

button,
#buscar, #resetearBusqueda {
    background-color: #ef6f8b;
    color: #FFF;
    border: none;
    height: 2rem;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem!important;
    font-size: 16px;
    margin-left: 5px;
}

.tarjeta {
    display: grid;
    place-items: center;
    width: 18.75rem;
    height: 400px;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 0 0 12px #3d3d3d;
    border-radius: 1rem;
    overflow: hidden;
    padding: 10px;
    background-color: #fcbac6;
}

.tarjeta img,
.tarjCarrito img {
    width: 180px;
    height: 180px;
    border-radius: 2rem;
    padding: .9375rem;
}

.tarjCarrito,
.precioPagar {
    background-color: #9988BD;
    display: flex;
    flex-direction: row;
    border: 1px solid #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 4cap #3d3d3d;
    margin-bottom: 8px;
}

.precioPagar {
    color: #FFF;
    box-shadow: 0 0 4cap #3d3d3d;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
}

.tarjCarrito .imgcarrito,
.tarjCarrito .info-producto {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    line-height: normal;
    place-items: center;
}

.info-producto {
    color: #FFF;
}

.oculta {
    display: none !important;
}

/* Footer */
footer {
    display: grid;
    grid-area: footer;
    text-align: center;
    background-color: #9988BD;
    color: #FFF;
    padding: 10px;
}

@media (min-width: 575px) {
    .tarjeta h4 {
        font-size: 22px;
    }

    .tarjeta h5 {
        font-size: 14px;
        color: #9988BD;
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .tarjCarrito {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img {
        height: 250px;
        width: 250px;
    }

    header nav li {
        border:none;
    }

    #verOcultar {
        align-items: end;
    }

    .info-producto {
        flex: 1;
    }

    .imgcarrito {
        flex: 1;
    }
}